# Environment
.env
.venv

# data processed
!data/processed/.gitkeep

# raw ignore
data/raw/*
!data/raw/.gitkeep

__pycache__/
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Package build
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store
